/**PAGES DONACIONES**/
.wrapper {
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.664);
    margin: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
    .title {
      font-size: 24px;
      font-weight: map-get($map: $font-weights, $key: 'extra-bold');
      letter-spacing: 1px;
      margin-bottom: 25px;
      color: #fec107;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 1px 1px #000;
      font-family: $letrasDef;
    }
    .form {
      width: 100%;
      .inputfield {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
        .btn {
          width: 100%;
          padding: 8px 10px;
          font-size: 18px;
          border: 0px;
          background: #fec107;
          color: rgb(206, 36, 36);
          cursor: pointer;
          border-radius: 10px;
          outline: none;
          font-family: $letrasDef;
          font-weight: map-get($map: $font-weights, $key: 'extra-bold');
          &:hover {
            background: #ffd658;
          }
        }
          p {
            font-size: 14px;
            color: #3f3e3e;
            font-weight: map-get($map: $font-weights, $key: 'extra-bold');
            letter-spacing: 1px;
            margin: 0;
            font-family: $letrasDef;
          }
          .check {
            width: 15px;
            height: 15px;
            position: relative;
            display: block;
            cursor: pointer;
            input[type=checkbox] {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
            input[type=checkbox]:checked ~ .checkmark {
              background: #fec107;
            }
            input[type=checkbox]:checked ~ .checkmark:before {
              display: block;
            }
            .checkmark {
              width: 15px;
              height: 15px;
              border: 1px solid #fec107;
              display: block;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                top: 1px;
                left: 2px;
                width: 5px;
                height: 2px;
                border: 2px solid;
                border-color: transparent transparent #fff #fff;
                transform: rotate(-45deg);
                display: none;
              }
            }
          }
        .textarea {
          @include content (100% , 125px, unset , start );
          resize: none;
        }
        .custom_select {
          @include content (100% , 37px, unset , start );
          position: relative;
          select {
            @include content (100% , 100%, 15px , unset );
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: 0px;
            padding: 8px 10px;
            font-size: 15px;
            border: 1px solid #d5dbd9;
            border-radius: 3px;
            &:before {
              content: "";
              position: absolute;
              top: 12px;
              right: 10px;
              border: 8px solid;
              border-color: #d5dbd9 transparent transparent transparent;
              pointer-events: none;
            }
          }
        }
        label {
          @include content (200px , unset, 14px , start );
          color: #3f3e3e;
          margin-right: 10px;
          font-weight: map-get($map: $font-weights, $key: 'extra-bold');
          font-family: $letrasDef;
        }
        & .input:focus,
        & .textarea:focus,
        & .custom_select select:focus {
          border: 1px solid #fec107;
        }
      }
    }
    .form .inputfield .input,
    .wrapper .form .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #a3a3a3;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    }
  }
  
  .s-layout__content--donaciones {
    min-height: 900px;
    max-height: 1280px;
  }
  
  @media (max-width: 420px) {
    .wrapper .form .inputfield {
      flex-direction: column;
      align-items: flex-start;
      label {
        margin-bottom: 5px;
      }
      &.terms {
        flex-direction: row;
      }
    }
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }