/**PAGES MUSEO**/

.extendMuseo {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
}

.s-layout__content--background--pageMuseo {
    height: 600px;
    position: relative;
    z-index: -1;
    &::before {
      @extend .extendMuseo;
      filter: sepia(100%);
      position: absolute;
      content: "";
      inset: 0;
      background-image: linear-gradient(to bottom, rgba(51, 204, 255, 0) 25%, rgba(0, 51, 204, 0.69) 100%), url(img/36787816_1068706419921167_7190905787680555008_n.jpg);
    }
  }
  
  .s-layout__content--texto--pagesMuseo{
    h2 {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 25%;
      color: #d63a3a;
      position: relative;
      font-family: "Beau Rivage", cursive;
      letter-spacing: 5px;
      font-size: 3em;
      text-shadow: 1px 1px 2px black;
      top: 100px;
    }
    p {
      width: 90%;
      float: right;
      padding-right: 5%;
      position: relative;
      text-shadow: 1px 1px 2px rgb(255, 255, 255);
      font-size: 1.5em;
      top: 150px;
    }
  }
  
  .s-layout__content--background--pageMuseo2::before {
    filter: grayscale(50%);
    position: absolute;
    content: "";
    inset: 0;
    background-position: 0% 40%;
    background-image: linear-gradient(to bottom, rgba(51, 204, 255, 0) 25%, rgba(204, 41, 0, 0.69) 100%), url(img/15781068_644445825680564_2693884522929626034_n.jpg);
  }
  
  .s-layout__content--background--pageMuseo3::before {
    filter: grayscale(50%);
    position: absolute;
    content: "";
    inset: 0;
    background-position: 0% 70%;
    background-image: linear-gradient(to bottom, rgba(51, 204, 255, 0) 25%, rgba(0, 51, 204, 0.6901960784) 100%), url(img/15781317_644445812347232_8422335135320004716_n.jpg);
  }
  
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .s-layout__content--texto--pagesMuseo {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1em;
      }
    }
  }
